@model IEnumerable<WeSimMobifone.Models.Thuebao>

@{
    ViewData["Title"] = "Thuê Bao";
}

<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Thuê Bao</h3>
            </div><!-- /.box-header -->
            <div class="box-tools">
                <form asp-controller="Thuebaos" asp-action="SearchThueBao" style="margin-right: 30px;">
                    <div class="input-group">
                        <input type="text" name="searchThueBao" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" />
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped text-center" style=" height:100%;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.SoThueBao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhiHoaMang)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LoaiSo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DiaDiemHm)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TrangThai)
                            </th>
                            <th>
                                Danh mục SIM
                            </th>
                            <th>
                                Loại thuê bao
                            </th>
                            <th style="width:10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoThueBao)
                                </td>
                                <td>
                                    @(item.PhiHoaMang.ToString("n0")) VNĐ
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LoaiSo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaDiemHm)
                                </td>
                                <td>
                                    @if (item.TrangThai == 0)
                                    {
                                        <span class="label label-success">Trống</span>
                                    }
                                    else
                                    {
                                        if (item.TrangThai == 1)
                                        {
                                            <span class="label label-warning">Giao Dịch</span>
                                        }
                                    } 
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaDmNavigation.TenDm)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaLtbNavigation.TenL)
                                </td>
                                <td>
                                    <div class="tools ">
                                        @if (item.TrangThai == 0)
                                        {
                                            <a class="btn btn-block btn-primary" asp-action="DKThueBao" asp-route-id="@item.MaTb">Chọn Số</a>
                                        }
                                        else
                                        {
                                            if (item.TrangThai == 1)
                                            {
                                               
                                            }
                                        }                                   
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.row -->
</section><!-- /.box -->
