@model WeSimMobifone.Models.Thuebao

@{
    ViewData["Title"] = "Delete";
}

<section class="content-header">
    <div class="pad margin no-print">
        <div class="callout callout-danger" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Thông báo:</h4>
            Bạn có thật sự muốn xóa thuê bao này ?
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="box">
                <div class="box box-warning">
                    <div class="box-header">
                        <i class="fa fa-rss"></i>
                           <h3 class="box-title">Thông tin chi tiết thuê bao : @Html.DisplayFor(model => model.SoThueBao)</h3>
                        <!-- tools box -->
                    </div>
                    <div class="box-body">
                        <table class="table " style="font-size: 15px;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="font-weight: bold; width: 20%"> @Html.DisplayNameFor(model => model.PhiHoaMang)</td>
                                    <td style="text-align: right;">@(Model.PhiHoaMang.ToString("n0")) VNĐ</td>
                                    <td style="width: 10%"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 20%">Danh mục SIM</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.MaDmNavigation.TenDm)</td>
                                    <td style="width: 10%"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 20%">Loại thuê bao:</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.MaLtbNavigation.TenL)</td>
                                    <td style="width: 10%"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 20%"> @Html.DisplayNameFor(model => model.LoaiSo):</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.LoaiSo)</td>
                                    <td style="width: 10% "></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 20%"> @Html.DisplayNameFor(model => model.DiaDiemHm):</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.DiaDiemHm)</td>
                                    <td style="width: 10%"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 20%">@Html.DisplayNameFor(model => model.TrangThai):</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.TrangThai)</td>
                                    <td style="width: 10%"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix no-border">
                        @if (@Model.TrangThai == 0)
                        {
                             <form asp-action="Delete">
                                <input type="hidden" asp-for="MaTb" />
                                <input style="width: 300px; margin-right: 20px;" type="submit" value="Xóa" class="btn btn-primary" />
                                <a style="width: 300px;" class="btn btn-danger" asp-action="Index">Hủy</a>
                             </form>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
<!-- /.row -->
</section><!-- /.content -->