@model WeSimMobifone.Models.Thuebao

@{
    ViewData["Title"] = "Details";
}
<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="box">
                <div class="box box-warning">
                    <div class="box-header">
                        <i class="fa fa-rss"></i>
                        <h3 class="box-title">Thông tin chi tiết thuê bao : @Html.DisplayFor(model => model.SoThueBao)</h3>
                        <!-- tools box -->
                    </div>
                    <div class="box-body">
                        <table class="table " style="font-size: 15px;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="font-weight: bold; width: 50%"> @Html.DisplayNameFor(model => model.PhiHoaMang)</td>
                                    <td style="text-align: right;">@(Model.PhiHoaMang.ToString("n0")) VNĐ</td>
                                    <td style="width: 10%"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 50%">Danh mục SIM</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.MaDmNavigation.TenDm)</td>
                                    <td style="width: 10%"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 50%">Loại thuê bao:</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.MaLtbNavigation.TenL)</td>
                                    <td style="width: 10%"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 50%"> @Html.DisplayNameFor(model => model.LoaiSo):</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.LoaiSo)</td>
                                    <td style="width: 10% "></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 50%"> @Html.DisplayNameFor(model => model.DiaDiemHm):</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.DiaDiemHm)</td>
                                    <td style="width: 10%"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 50%">@Html.DisplayNameFor(model => model.TrangThai):</td>
                                    @if(Model.TrangThai == 0)
                                    {
                                        <td style="text-align: right;"><span class="label label-success">Trống</span></td>
                                    }
                                    else
                                    {
                                        @if (Model.TrangThai == 1)
                                        {
                                            <td style="text-align: right;"><span class="label label-warning">Đang giao dịch</span></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: right;"><span class="label label-info">Kích hoạt</span></td>
                                        }
                                    }

                                    <td style="width: 10%"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="btn btn-block btn-success" asp-action="Edit" asp-route-id="@Model.MaTb">Sửa</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-block btn-primary" asp-action="Index">Trở về</a>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!-- /.row -->
</section><!-- /.content -->
