@model IEnumerable<WeSimMobifone.Models.Tintuc>

@{
    ViewData["Title"] = "Tin Tức";
}
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Tin Tức</h3> 
            </div><!-- /.box-header -->
            <div class="box-tools">
                <a class="btn btn-block btn-info" style="width: 150px; margin-left: 30px;" asp-action="Create">Add News</a>
                <form asp-controller="Tintucs" asp-action="SearchTT" style="margin-right: 30px;">
                    <div class="input-group">
                        <input type="text" name="searchTinTuc" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" />
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th >
                                @Html.DisplayNameFor(model => model.TieuDe)
                            </th>
                            <th >
                                @Html.DisplayNameFor(model => model.TomTat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.HinhAnh)
                            </th>
                            <th >
                                @Html.DisplayNameFor(model => model.NgayDang)
                            </th>
                            <th></th> 
                            <th></th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width:15%;">
                                    @Html.Raw(item.TieuDe)
                                </td>
                                <td style="width:30%;">
                                    @Html.Raw(item.TomTat)
                                </td>
                                <td style="width:15%;">
                                    <img src="~/img/@Html.DisplayFor(modelItem => item.HinhAnh)" width="150" height="" />
                                </td>
                                <td style="width:10%;">
                                    @Html.DisplayFor(modelItem => item.NgayDang)
                                </td>
                                <td style="width:10%;">
                                    @if(item.Hot == 1)
                                    {
                                        <a asp-action="UnHOT" asp-route-id="@item.MaTin"><i class="fa fa-star" style="color: red;"></i></a>
                                    }
                                    else
                                    {
                                        <a asp-action="HOT" asp-route-id="@item.MaTin"><i class="fa fa-star-o"></i></a>
                                    }
                                </td>
                                <td style="width: 5%;">
                                    <a class="btn btn-block btn-info" asp-action="Details" asp-route-id="@item.MaTin">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                                <td style="width: 5%;">
                                    <a class="btn btn-block btn-success" asp-action="Edit" asp-route-id="@item.MaTin">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                <td style="width: 5%;">
                                    <a class="btn btn-block btn-danger" asp-action="Delete" asp-route-id="@item.MaTin">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.row -->
</section><!-- /.box -->
