@model IEnumerable<WeSimMobifone.Models.Thuebao>

@{
    ViewData["Title"] = "Danh Mục Thuê Bao";
    Layout = "~/Views/Shared/_LayoutDM.cshtml";
}

    <div class="container-xxl py-5  hero-header mb-5" style="background-color: #007AFE;">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-5 py-5">
                <div class="col-12 text-center m-4">
                    <h1 class="text-white animated zoomIn">Danh Mục Thuê Bao</h1>
                    <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" asp-controller="Homes" asp-action="Index">Trang Chủ</a></li>
                            <li class="breadcrumb-item"><a class="text-white" >Danh Mục</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">@ViewBag.DM.TenDm</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->
<!-- Full Screen Search Start -->
<!-- Full Screen Search End -->

<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="position-relative d-inline text-primary ps-4">Danh Mục</h6>
            <h2 class="mt-2">@ViewBag.DM.TenDm</h2>
        </div>
        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 wow zoomIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon flex-shrink-0">
                            <i class="bi bi-sim-fill fa-2x"></i>
                        </div>
                        <h5 class="mb-3">@Html.DisplayFor(modelItem => item.SoThueBao)</h5>
                        <p>Phí hoà mạng: @(item.PhiHoaMang.ToString("n0")) VNĐ</p>
                        <p>Loại thuê bao: @Html.DisplayFor(modelItem => item.LoaiSo)</p>
                        <p>Điểm hoà mạng: @Html.DisplayFor(modelItem => item.DiaDiemHm)</p>
                        <a class="btn px-3 mt-auto mx-auto" asp-action="Details" asp-route-id="@item.MaTb">Chọn Số</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
