@model WeSimMobifone.Models.Thuebao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Thuebao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoThueBao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoThueBao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhiHoaMang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhiHoaMang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiSo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiSo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiemHm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiemHm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDmNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDmNavigation.TenDm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLtbNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLtbNavigation.TenL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaTb">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
