@model IEnumerable<WeSimMobifone.Models.Hoadon>

@{
    ViewData["Title"] = "Thống kê theo ngày";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thống kê báo cáo
        <small>Mobifone An Giang</small>
    </h1>
    <ol class="breadcrumb">
        <li><a asp-controller="Admin" asp-action="Index"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Thống kế báo cáo</li>
    </ol>
</section>
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@ViewData["tongtien"] VNĐ<sup style="font-size: 20px"></sup></h3>
                <p>Tổng doanh thu: </p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@ViewData["SLDaNhan"]<sup style="font-size: 20px"></sup></h3>
                <p>Tổng đơn hàng: </p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a asp-area="" asp-controller="Admin" asp-action="BaoCaoNgay" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-teal">
            <div class="inner">
                <h3>@ViewData["SLDanhMuc"]<sup style="font-size: 20px"></sup></h3>
                <p>Thống kê thuê bao</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a asp-area="" asp-controller="Admin" asp-action="ThongKeThueBao" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div><!-- ./col -->
</div><!-- /.row -->
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <form asp-controller="Admin" asp-action="BaoCao">
                    <div class="input-group">
                        <input style="display: inline-block; width: 450px; margin-right: 50px;" type="date" name="ngaybatdau" class="form-control " pattern="\d{2}/\d{2}/\d{4}" />
                         <input style="display: inline-block; width: 450px; " type="date" name="ngayketthuc" class="form-control" pattern="\d{2}/\d{2}/\d{4}"/>
                        <a class="btn btn-success" style="margin-left: 70px;" asp-action="DowloadEx">EXCEL</a>
                        <div class="input-group-btn">
                            
                        </div>
                         <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                         </div>
                        
                    </div>
                </form>
            </div>
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MaHd)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ngay)
                            </th>
                            <th>
                                Số thuê bao
                            </th>
                            <th>
                                Khách hàng
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TongTien)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TrangThai)
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Hoadon item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaHd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ngay)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaTbNavigation.SoThueBao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaKhNavigation.Ten)
                                </td>
                                <td>
                                    @(item.TongTien.ToString("n0")) VNĐ
                                </td>
                                <td>

                                    @if (item.TrangThai == 3)
                                    {
                                        <span class="label label-success">Giao Dịch Thành Công</span>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-block btn-success" asp-action="Details" asp-route-id="@item.MaHd">Chi Tiết</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid">
                    <div class="box-header">
                        <i class="fa fa-bar-chart-o"></i>
                        <h3 class="box-title">jQuery Knob Tron Style</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                                <input type="text" class="knob" value="80" data-skin="tron" data-thickness="0.2" data-width="90" data-height="90" data-fgColor="#3c8dbc" data-readonly="true" />
                                <div class="knob-label">data-width="90"</div>
                            </div><!-- ./col -->
                            <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                                <input type="text" class="knob" value="60" data-skin="tron" data-thickness="0.2" data-width="120" data-height="120" data-fgColor="#f56954" />
                                <div class="knob-label">data-width="120"</div>
                            </div><!-- ./col -->
                            <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                                <input type="text" class="knob" value="10" data-skin="tron" data-thickness="0.1" data-width="90" data-height="90" data-fgColor="#00a65a" />
                                <div class="knob-label">data-thickness="0.1"</div>
                            </div><!-- ./col -->
                            <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                                <input type="text" class="knob" value="100" data-skin="tron" data-thickness="0.2" data-angleArc="250" data-angleOffset="-125" data-width="120" data-height="120" data-fgColor="#00c0ef" />
                                <div class="knob-label">data-angleArc="250"</div>
                            </div><!-- ./col -->
                        </div><!-- /.row -->
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->

</section>
