@model WeSimMobifone.Models.Hoadon

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hoadon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ngay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ngay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaKhNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaKhNavigation.Ten)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaTbNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTbNavigation.SoThueBao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaHd">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
