@model WeSimMobifone.Models.Hoadon

@{
    ViewData["Title"] = "thông tin chi tiết hoá đơn";
}
@if(@Model.MaKhNavigation.SlthueB == 3 && Model.TrangThai == 0)
{
 <section class="content-header">
    <div class="pad margin no-print">
        <div class="callout callout-danger" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Thông báo:</h4>
            Số lượng thuê bao khách hàng @Html.DisplayFor(model => model.MaKhNavigation.Ten) đã đủ 3 thuê bao vui lòng huỷ đơn.
        </div>
    </div>
 </section>
}
<section class="content">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="box">
             <div class="box box-warning">
                <div class="box-header">
                    <i class="fa fa-envelope"></i>
                    <h3 class="box-title">Thông tin chi tiết hoá đơn</h3>
                    <!-- tools box -->
                </div>
                  <div class="box-body">
                      <table class="table " style="font-size: 15px;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="font-weight: bold; width: 30%"> @Html.DisplayNameFor(model => model.MaHd)</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.MaHd)</td>
                                    <td style="width: 10%"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 30%">@Html.DisplayNameFor(model => model.MaTbNavigation.SoThueBao)</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.MaTbNavigation.SoThueBao)</td>
                                    <td style="width: 10%" ></td>
                                </tr>
                                <tr>
                                    <td style ="font-weight: bold; width: 30%"> @Html.DisplayNameFor(model => model.MaKhNavigation.Ten):</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.MaKhNavigation.Ten)</td>
                                    <td style="width: 10%"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 30%"> @Html.DisplayNameFor(model => model.MaKhNavigation.DienThoai):</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.MaKhNavigation.DienThoai)</td>
                                    <td style="width: 10% "></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 30%"> @Html.DisplayNameFor(model => model.MaKhNavigation.Email):</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.MaKhNavigation.Email)</td>
                                    <td style="width: 10%" ></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 30%">@Html.DisplayNameFor(model => model.MaKhNavigation.Cccd):</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.MaKhNavigation.Cccd)</td>
                                    <td style="width: 10%"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 30%"> Ảnh Căn Cước công dân:</td>
                                    <td style="text-align: right;">
                                    <img src="~/img/@Html.DisplayFor(model => model.MaKhNavigation.HinhT)" style="width:150px; height: 100px; margin: 0px 5px 0px 5px" /> <img src="~/img/@Html.DisplayFor(model => model.MaKhNavigation.HinhS)" style="width:150px; height: 100px" ; />
                                    </td>
                                    <td style="width: 10%"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 30%"> Địa chỉ:</td>
                                    <td style="text-align: right;">@Html.DisplayFor(model => model.MaDcNavigation.DiaChi1), @Html.DisplayFor(model => model.MaDcNavigation.PhuongXa), @Html.DisplayFor(model => model.MaDcNavigation.QuanHuyen), @Html.DisplayFor(model => model.MaDcNavigation.TinhThanh)</td>
                                    <td style="width: 10%" ></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; width: 30%"> @Html.DisplayNameFor(model => model.TongTien):</td>
                                    <td style="font-weight: bold; text-align: right;">@(Model.TongTien.ToString("n0")) VNĐ</td>
                                    <td style="width: 10%"></td>
                                </tr>
                                @if (@Model.TrangThai == 0)
                                {
                                    <tr>
                                        <td>
                                            <a class="btn btn-block btn-info" style="width: 150px; " asp-action="DuyetHoaDon" asp-route-id="@Model.MaHd" asp-route-matb="@Model.MaTb" asp-route-makh="@Model.MaKh">Duyệt đơn</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-block btn-danger" style="width: 150px; " asp-action="HuyHoaDon" asp-route-id="@Model.MaHd">Huỷ đơn</a>
                                        </td>
                                        <td></td>
                                    </tr>

                                }
                               
                            </tbody>
                       </table>
                    </div>
                </div>
              </div>
          </div>
        <div class="col-md-3"></div>
    </div>
</section>
