@model IEnumerable<WeSimMobifone.Models.Hoadon>

@{
    ViewData["Title"] = "Hoá Đơn";
}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="col-lg-7">
                        <h3>Lịch sử đơn hàng đã nhận</h3>
                    </div>
                    <div class="row col-lg-5 " style="flex-direction: row-reverse;">
                        <a class="btn btn-warning" asp-action="DonHang">Đơn chờ duyệt</a>
                        <a class="btn btn-info" asp-action="DonDaDuyet">Đơn đã duyệt</a>
                        <a class="btn btn-danger" asp-action="DonDaHuy">Đơn đã huỷ</a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th style="width:5%;">
                                    Stt
                                </th>
                                <th style="width:15%;">
                                    Số thuê bao
                                </th>
                                <th style="width:10%;">
                                    Ngày đặt
                                </th>
                                <th style="width:40%;">
                                    Địa Chỉ
                                </th>
                                <th style="width:10%;">
                                    Tổng tiền
                                </th>
                                <th style="width:10%;">
                                    Trạng thái
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int stt = 1;
                                @foreach (Hoadon i in Model)
                                {
                                    <tr class="table-success">
                                        <td>
                                            @(stt)
                                        </td>
                                        <td>
                                            @i.MaTbNavigation.SoThueBao
                                        </td>
                                        <td>
                                            @i.Ngay
                                        </td>
                                        <td>
                                            @i.MaDcNavigation.DiaChi1,@i.MaDcNavigation.PhuongXa,@i.MaDcNavigation.QuanHuyen,@i.MaDcNavigation.TinhThanh
                                        </td>
                                        <td>
                                            @i.TongTien VNĐ
                                        </td>
                                        <td>
                                            <span class="label label-success">đã nhận</span>
                                        </td>
                                        <td>
                                            <a class="btn btn-block btn-primary" asp-action="KichHoat" asp-route-id="@i.MaTb">Kich hoạt</a>
                                        </td>
                                    </tr>
                                    stt++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>


