@model IEnumerable<WeSimMobifone.Models.Hoadon>

@{
    ViewData["Title"] = "Hoá Đơn khách hàng";
}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="col-lg-4">
                        <h3>Đơn hàng chưa duyệt</h3>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th style="width:5%;">
                                    Stt
                                </th>
                                <th style="width:15%;">
                                    Số thuê bao
                                </th>
                                <th style="width:10%;">
                                    Ngày đặt
                                </th>
                                <th style="width:40%;">
                                    Địa Chỉ
                                </th>
                                <th style="width:10%;">
                                    Tổng tiền
                                </th>
                                <th style="width:10%;">
                                    Trạng thái
                                </th>
                               
                                <th style="width:10%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int stt = 1;
                                @foreach (Hoadon i in Model)
                                {
                                        <tr class="table-success">
                                            <td>
                                                @(stt)
                                            </td>
                                            <td>
                                                @i.MaTbNavigation.SoThueBao
                                            </td>
                                            <td>
                                                @i.Ngay
                                            </td>
                                            <td>
                                                @i.MaDcNavigation.DiaChi1,@i.MaDcNavigation.PhuongXa,@i.MaDcNavigation.QuanHuyen,@i.MaDcNavigation.TinhThanh
                                            </td>
                                            <td>
                                                @i.TongTien VNĐ
                                            </td>
                                           
                                            <td>
                                                @if (i.TrangThai == 0 && i.Daxoa == 0)
                                                {
                                                <span class="label label-warning">Đang duyệt</span>
                                                }
                                                else
                                                {
                                                    @if (i.TrangThai == 1 && i.Daxoa == 0)
                                                    {
                                                        <span class="label label-warning">Đã duyệt</span>
                                                    }
                                                    else
                                                    {
                                                        @if (i.TrangThai == 2 && i.Daxoa == 0)
                                                        {
                                                            <span class="label label-warning">Đang vận chuyển</span>
                                                        }
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <a class="btn btn-block btn-warning" asp-action="ChiTietDonHangKhach" asp-route-id="@i.MaHd">Chi tiết</a>
                                            </td>
                                            <td>
                                                @if(i.TrangThai == 0 && i.Daxoa == 0)
                                                {
                                                    <a class="btn btn-block btn-danger" asp-action="HuyHoaDon" asp-route-id="@i.MaHd">Huỷ</a>
                                                }
                                            </td>
                                        </tr>  
                                        stt++;
                                }
                         } 
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                   
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>
