@model IEnumerable<WeSimMobifone.Models.Chucvu>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeSo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeSo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaCv">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaCv">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaCv">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
