@model WeSimMobifone.Models.Khachhang

@{
    ViewData["Title"] = "Details";
}

<section class="content">
    <div class="row">
        @foreach (Qlthuebao qltb in ViewBag.QlTB)
        {
        <div class="col-md-4">
            <div class="box">
                    @if(qltb.TrangThai == 0)
                    {
                        <div class="box box-danger">
                            <div class="box-header">
                                <i class="fa fa-rss"></i>
                                <h3 class="box-title">Thông tin chi tiết thuê bao</h3>
                                <!-- tools box -->
                            </div>
                            <div class="box-body">
                                <table class="table " style="font-size: 15px;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="font-weight: bold; width: 30%">Số thuê bao</td>
                                            <td style="text-align: right;">@qltb.MaTbNavigation.SoThueBao</td>
                                            <td style="width: 10%"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold; width: 30%">Ngày kích hoạt</td>
                                            <td style="text-align: right;">@qltb.NgayKichHoat</td>
                                            <td style="width: 10%"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold; width: 30%"> Trạng thái:</td>
                                            <td style="text-align: right;">
                                                @if (qltb.TrangThai == 0)
                                                {
                                                    <span class="label label-warning">chưa kích hoạt</span>
                                                }
                                            </td>
                                            <td style="width: 10%"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-footer clearfix no-border">
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="box box-info">
                            <div class="box-header">
                                <i class="fa fa-rss"></i>
                                <h3 class="box-rss">Thông tin chi tiết thuê bao</h3>
                                <!-- tools box -->
                            </div>
                            <div class="box-body">
                                <table class="table " style="font-size: 15px;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="font-weight: bold; width: 30%">Số thuê bao</td>
                                            <td style="text-align: right;">@qltb.MaTbNavigation.SoThueBao</td>
                                            <td style="width: 10%"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold; width: 30%">Ngày kích hoạt</td>
                                            <td style="text-align: right;">@qltb.NgayKichHoat</td>
                                            <td style="width: 10%"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold; width: 30%"> Trạng thái:</td>
                                            <td style="text-align: right;">
                                                @if (qltb.TrangThai == 1)
                                                {
                                                    <span class="label label-success">đã kích hoạt</span>
                                                }
                                            </td>
                                            <td style="width: 10%"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-footer clearfix no-border">
                                @if (qltb.TrangThai == 1)
                                {
                                    <a class="btn btn-block btn-danger" style="width: 150px; " asp-action="HuyThueBao" asp-route-id="@qltb.MaQl">Huỷ Thuê Bao</a>
                                }
                            </div>
                        </div>
                    }
            </div>
        </div>
        }
    </div>
</section>
