@model IEnumerable<WeSimMobifone.Models.Khachhang>

@{
    ViewData["Title"] = "Khách hàng";
}

<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Khách hàng</h3>
            </div><!-- /.box-header -->
            <div class="box-tools">
                <form asp-controller="Khachhangs" asp-action="SearchKH" style="margin-right: 30px;">
                    <div class="input-group">
                        <input type="text" name="searchKhachHang" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" />
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Ten)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DienThoai)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cccd)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SlthueB)
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ten)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DienThoai)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cccd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SlthueB)
                                </td>
                                <td>
                                    @if(item.Daxoa == 0)
                                    {
                                        <a asp-action="Lock" asp-route-id="@item.MaKh"><i class=" fa fa-unlock"></i></a>
                                    }
                                    else
                                    {
                                        if(item.Daxoa == 1)
                                        {
                                            <a asp-action="Unlock" asp-route-id="@item.MaKh"><i class="fa fa-lock"></i></a>
                                        }
                                    }
                                </td>
                                <td>
                                    <div class="tools ">
                                    <a asp-action="Details" asp-route-id="@item.MaKh"><i class="fa fa-eye"></i></a>
                                   </div>
                                </td>
                                <td>
                                    @if(item.SlthueB < 3)
                                    {
                                        <div class="tools ">
                                            <a class="btn btn-block btn-info" asp-action="DSThueBao" asp-route-id="@item.MaKh">Đăng ký</a>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.row -->
</section><!-- /.box -->