@model WeSimMobifone.Models.Huongdan

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Huongdan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CauHoi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CauHoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TraLoi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TraLoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaHdan" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
