@model WeSimMobifone.Models.Huongdan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Huongdan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CauHoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CauHoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TraLoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TraLoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaHdan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
