@model WeSimMobifone.Models.Huongdan

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Huongdan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CauHoi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CauHoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TraLoi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TraLoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaHdan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
