@model IEnumerable<WeSimMobifone.Models.Huongdan>

@{
    ViewData["Title"] = "Index";
}
    <div class="container-xxl py-5  hero-header mb-5" style="background-color: #007AFE;">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-5 py-5">
                <div class="col-12 text-center">
                    <h1 class="text-white animated zoomIn">Hướng Dẫn</h1>
                    <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" asp-controller="Homes" asp-action="Index">Trang Chủ</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Hướng Dẫn</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Câu hỏi thường gặp</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->
<!-- Full Screen Search Start -->
<!-- Full Screen Search End -->

<!--
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CauHoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraLoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CauHoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraLoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHdan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHdan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHdan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
-->
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="row g-4">
            @foreach (var item in Model)
            {
            <div class="col-12">
               <div id="accordion">
                    <div class="card">
                        <div class="card-header">
                                <a class="btn" data-bs-toggle="collapse" href="#so">
                                @Html.DisplayFor(modelItem => item.CauHoi)
                             </a>
                        </div>
                            <div id="so" class="collapse" data-bs-parent="#accordion">
                            <div class="card-body">
                                @Html.DisplayFor(modelItem => item.TraLoi)
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            }
        </div>
    </div>
</div>
